:root{
    --bs-primary: #cde2b0;
    --bs-primary-rgb: 205, 226, 178;
    --bs-secondary: #3c493f;
    --bs-secondary-rgb: 60, 73, 63;
    --bs-tertiary: #dd7373;
    --bs-tertiary-rgb: 221, 115, 115;
}
